* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

.header h1 {
  font-size: 35px;
}

.todoItem {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-decoration: none;
}

.todoItem input {
  margin: 10px;
}

.todoItem .btnDel {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.todoItem.completed {
  text-decoration: line-through;
}